@font-face{
font-family:panchangRegular;
src: url("../public/fonts/Panchang-Regular.woff");
}

@font-face {
font-family:panchangMedium;
src: url("../public/fonts/Panchang-Medium.woff")
}

@import "tailwindcss";

@theme{
--font-panchangRegular: panchangRegular,'sans-serif';
--font-panchangMedium: panchangMedium,'sans-serif'
}

body {
  cursor: url('/cursor.png'), auto;
}

